<div class="container p-4">
    <div class="row">
         {{#each tours}}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{name_tour}}" name="name_tour" placeholder="nombre tour" >
                        </div>
                        <div class="form-group">
                        </div>
                        <br>          
                        <a href="/delete_tours/{{id_tour}}" class="btn btn-danger">Borrar</a>
                        <a href="/edit_tours/{{id_tour}}" class="btn btn-secondary">Editar</a>  

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>