
{{#if user}}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="/reservation">Mostrar Reservas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/add">Registrar Reservas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/tours">Tours</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="/logout">logout</a>
  </li>  
  
</ul>
  </div>
</nav>
{{/if}}